appdirs==1.4.4; python_version >= "3.7"
asgiref==3.5.2; python_version >= "3.8"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
boto3==1.26.54; python_version >= "3.7"
botocore==1.29.54; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
coverage==6.4; python_version >= "3.7"
django==4.0.4; python_version >= "3.8"
djangorestframework==3.13.1; python_version >= "3.6"
factory-boy==3.2.1; python_version >= "3.7"
faker==13.12.0; python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
inflection==0.5.1; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.7"
jmespath==1.0.1; python_version >= "3.7"
mako==1.2.0; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-django==4.5.2; python_version >= "3.5"
pytest-factoryboy==2.3.1; python_version >= "3.7"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pytz==2022.1; python_version >= "3.6"
s3transfer==0.6.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8"
tomli==2.0.1; python_version >= "3.7"
typing-extensions==4.2.0; python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
urllib3==1.26.14; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
